<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="btnClicked()">Click this button</button>
  <br>
  <button ion-button (click)="gotoFirstPage()">Go to First Page</button>
</ion-content>
